<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69598828189-rj9oog8uludqpmh8icj24morcf3q5vpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69598828189-rj9oog8uludqpmh8icj24morcf3q5vpm</string>
	<key>API_KEY</key>
	<string>AIzaSyCZ8WlPysJadiWvN6QQIuKT6nl6xsRUdXk</string>
	<key>GCM_SENDER_ID</key>
	<string>69598828189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1</string>
	<key>PROJECT_ID</key>
	<string>ehsola-dc80f</string>
	<key>STORAGE_BUCKET</key>
	<string>ehsola-dc80f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69598828189:ios:bfce583858f1e60b396674</string>
</dict>
</plist>